---
layout: default
title: Scholars' Lab in Slides!
bodyclass: signage
auto: true
---

{% include slab-logo-header.html %}

{% include slides/welcome.html %}

{% include slides/geospatial-services.html %}

<section class="slide gis gis-day" id="gis-day">
    <h1><abbr title="Geographic Information Systems">GIS</abbr> Day</h1>
    <p><strong>November 19, 2014<br>
    2:00 pm–4:30 pm<br>
    Scholars' Lab Common Room</strong></p>
<p>The Scholars’ Lab celebrates GIS Day 2014! We’ll host lighting round talks&mdash;showcasing a variety of GIS projects from across Grounds and around Charlottesville&mdash; 2:00&ndash;4:00pm in the Scholars’ Lab Common Room. The reveal of our annual GIS Day cake will follow. All are welcome. Please join us for the festivities!</p>
</section>

{% include slides/graduate-fellowships.html %}

<section class="slide ivanhoe" id="ivanhoe-project">
  <h1>Praxis Project: Ivanhoe</h1>
  <p>Ivanhoe, a WordPress theme, is a platform for collaborative criticism through roleplay. Check out ivanhoe.scholarslab.org for more details.</p>
</section>

{% include slides/ambuske.html %}

<section class="slide praxis-week" id="praxis-week">
  <h1>Praxis, This Week</h1>
  <p>Praxis is working on a significant refresh of the Ivanhoe informational website! Logo, overall design, as well as updating content are all within the project plan.
  </p>
</section>

{% include slides/experimental-humanities.html %}


<section class="slide event makerspace" id="introduction-to-neatline">
    <h1>Introduction to Neatline</h1>

    <p><strong>November 17, 2014<br>
        11:00 am–12:00 pm<br>
        Alderman Library, Room 421<br>
    </strong></p>
    <p>Join us for a hands-on introduction to Neatline, a set of plugins for Omeka developed by the Scholars’ Lab. With Neatline, anyone can create beautiful, complex maps and narrative sequences from collections of archives and artifacts, and connect maps and narratives with timelines that are more-than-usually sensitive to ambiguity and nuance. See http://neatline.org/ for more information.</p>
</section>

<section class="slide event makerspace" id="html-for-absolute-beginners">
    <h1>Makerspace Workshop: HTML for Absolute Beginners</h1>
    <p><strong>
    November 19, 2014<br>
    11:00 am–12:00 pm<br>
    Alderman Library, Room 421<br>
    </strong></p>
    <p>Wondering how web sites work? Wanting to get started creating web content of your own, but have no idea how to do that? This is the class for you. We’ll cover everything from how URLs work to basic HTML coding skills to basic netiquette. This workshop is intended for absolute beginners with no knowledge of HTML.</p>
</section>

<section class="slide jentery-sayers" id="jentery-sayers">

    <h1>Remaking Victorian Miniatures: The Speculative Stitches between 2D and 3D</h1>
    <p><strong>November 20, 2014<br>
        10:00 am–11:30 am<br>
        Alderman Library, Room 421</strong></p>

    <p>In both digital humanities and popular culture, there is a rapidly growing interest in big data. But in this talk I shift the focus away from amounts of data and toward ways of seeing with computers. In this sense, contemporary computing is more about mediation than media, or more about vision than the visible. Ats of remaking involve serious speculation, and also rely quite heavily on computation to stitch together evidence in the presence of absences. In short, they are matters not of “how many” but of “how this becomes that.”</p>

</section>
