---
layout: default
title: Scholars' Lab in Slides! Now with Events!
bodyclass: signage
auto: true
---

{% include slab-logo-header.html %}

{% include slides/welcome.html %}

{% include slides/geospatial-services.html %}

{% include slides/graduate-fellowships.html %}

<section class="slide project" id="praxis-kard">
  <h1>Praxis 2017-2018</h1>
  <p>The 2017-2018 Praxis Cohort has begun their work! They'll be blogging about their fellowship year at scholarslab.org.</p>
</section>

{% include slides/jefferson-notes.html %}

{% include slides/experimental-humanities.html %}

{% include slides/neatline-description.html %}

{% include slides/praxis-call.html %}

{% include slides/dh-prototyping-call.html %}
