---
layout: default
title: Scholars' Lab in Slides! Now with Events!
bodyclass: signage
auto: true
---

{% include slab-logo-header.html %}

{% include slides/welcome.html %}

{% include slides/geospatial-services.html %}

{% include slides/graduate-fellowships.html %}

{% include slides/dh-fellows.html %}

<section class="slide project" id="praxis-kard">
  <h1>Praxis 2017-2018</h1>
  <p>The 2017-2018 Praxis Cohort has begun their work! They'll be blogging about their fellowship year at scholarslab.org.</p>
</section>

<section class="slide project" id="jefferson-notes">
  <h1>Jefferson's Notes on the State of Virginia</h1>
  <p>Notes on the State of Virginia was created by Brad Pasanek and John O’Brien of the UVa English Department. The Notes project enables critical comparison and analysis of two versions of Thomas Jefferson’s Notes on the State of Virginia.</p>

  <p> The project includes page images and transcriptions of both Jefferson’s privately printed 1784 edition and the 1787 edition printed by London publisher John Stockdale.</p>
</section>

{% include slides/experimental-humanities.html %}

<section class="slide project" id="neatline">
  <h1>Neatline</h1>
  <p>Neatline is a mix-and-match toolset for the creation of interlinked timelines and maps as interpretive expressions of the literary or historical content of archival collections. It allows scholars and archivists to build on standard descriptive metadata and georectified maps to produce rich, evocative – even theoretical – spatial and temporal visualizations of the textual content of catalogued letters, manuscripts, and artifacts.</p>
</section>

<section class="slide makerspace" id="makerspace-sewing">
  <h1>Makerspace Workshop: Introduction to Sewing</h1>
  <p>Tuesday, October 17</br>11:00am-12:30pm</br>Alderman Library, Room 423</p>
  <p>Are you new to sewing? Would you like to learn the basics of operating a sewing machine? This workshop is for you. We will cover general sewing vocabulary, winding a bobbin and threading the machine, basic stitching, and basic understanding of needle and fabric type. Instructor: Paula Archey.</p>
</section>

{% include slides/gis-arcgisediting.html %}

{% include slides/gis-demographics.html %}