<section class="slide graduate-fellowships" id="dhfellows-apply">
    <h1>Apply for the 2019-2020 Digital Humanities Graduate Fellowship</h1>
    <p>Who: Advanced PhD Candidates</p>
    <p>Due: Application packets are due no later than November 25th, 2019</p>
    <p>The fellowship supports ABD graduate students doing innovative work in the digital humanities at the University of Virginia. The Scholars’ Lab offers Grad Fellows advice and assistance with the creation and analysis of digital content, as well as consultation on intellectual property issues and best practices in digital scholarship and DH software development.</p> <p>Interested? Please visit https://scholarslab.lib.virginia.edu/for-students/ to get full details.</p>
</section>
