<section class="slide graduate-fellowships" id="dhfellows-apply">
    <h1>Apply for the 2018-2019 Digital Humanities Graduate Fellowship</h1>
    <p>Who: Advanced PhD Candidates</p>
    <p>Due: Application packets are due no later than November 1, 2018</p>
    <p>The fellowship supports ABD graduate students doing innovative work in the digital humanities at the University of Virginia. The Scholars’ Lab offers Grad Fellows advice and assistance with the creation and analysis of digital content, as well as consultation on intellectual property issues and best practices in digital scholarship and DH software development. Interested? Please visit https://tinyurl.com/SLabDHFellows2018-2019 to get full details.</p>
</section>
