<section class="slide graduate-fellowships" id="dhprototypingfellows-apply">
    <h1>Apply for the 2018-2019 Digital Humanities Prototyping Fellowship</h1>
    <p>Who: UVA Graduate Students</p>
    <p>Due: Applications are due no later than February 15, 2018</p>
    <p>The Digital Humanities Prototyping Fellowship allows UVa graduate students to work with our R&D team for a single semester to rapidly develop their digital project ideas and position themselves for future work in digital humanities. The Scholars’ Lab offers these fellows advice and assistance with the creation and analysis of digital content, as well as consultation on best practices in digital scholarship and DH software development. Interested? Please visit https://tinyurl.com/SLabPrototypingFellows2018-19 to get full details.</p>
</section>
