<section class="slide miller" id="expertise">
  <h1>What We Do</h1>
  <p>Our staff has particular strengths in:</p>
   <ul>
    <li>digital humanities</li>
    <li>web design/development instruction</li>
    <li>collaborative project management</li>
    <li>digital pedagogy</li>
    <li>GIS/mapping & analysis</li>
    <li>cultural heritage informatics</li>
    <li>3D laser scanning & photogrammetry</li>
    <li>3D printing, making, & electronics</li>
    <li>and virtual/augmented reality.</li>
  </ul> 
</section>
