<section class="slide gis" id="gis-arcgisonlinecontent">
  <h1>GIS Workshop: Expanding Content in ArcGIS Online</h1>
  <p>Tuesday, November 7</br>3:00 - 4:00pm</br>Alderman Library, Room 421</p>
  <p>You can also use ArcGIS Online as a platform to build custom location-based apps.  You can create stories and context around online maps for things like storytelling, tours or map comparisons.   Many of these applications have templates that make for easy viewing on mobile devices. Instructors: Chris Gist, Drew MacQueen</p>
</section>
