<section class="slide gis" id="gis-arcgisonline">
  <h1>GIS Workshop: Introduction to ArcGIS Online</h1>
  <p>Tuesday, October 31</br>3:00 - 4:00pm</br>Alderman Library, Room 421</p>
  <p>With ArcGIS Online, you can use and create maps and scenes, access ready-to-use maps, layers and analytics, publish data as web layers, collaborate and share, access maps from any device, make maps with your Microsoft Excel data, customize the ArcGIS Online website, and view status reports. Instructors: Chris Gist, Drew MacQueen</p>
</section>
