<section class="slide gis" id="gis-workshop3">
  <h1>GIS Workshop: Georeferencing – Putting Old Maps and Aerial Photos on Your Map</h1>
  <p>Wednesday, September 19</br>3:00 - 4:00pm</br>Alderman Library, Room 421</p>
  <p>Would you like to see historic map overlaid on modern aerial photography?  Do you need to extract features of a map for use in GIS?  Georeferencing is the first step.  We will show you how to take a scan of a paper map and align in it in ArcGIS. Instructors: Chris Gist, Drew Macqueen.</p>
</section>
