<section class="slide gis" id="gis-workshop9">
  <h1>GIS Workshop: Points on Your Map – Street Addresses and More Spatial Things</h1>
  <p>Thursday, September 17</br>3:00 - 4:00pm</br>Alderman Library, Room 421</p>
  <p>Do you have a list of street addresses crying out to be mapped? Have a list of zip codes or census tracts you wish to associate with other data? We’ll start with addresses and other things spatial and end with points on a map, ready for visualization and analysis. Instructor: Chris Gist.</p>
</section>