<section class="slide gis" id="gis-workshop1">
  <h1>GIS Workshop: Making Your First Map With ArcGIS</h1>
  <p>Wednesday, September 12</br>3:00 - 4:00pm</br>Alderman Library, Room 421</p>
  <p>Here’s your chance to get started with geographic information systems software in a friendly, jargon-free environment.  This workshop introduces the skills you need to make your own maps.  Along the way you’ll get a taste of Earth’s most popular GIS software (ArcGIS) and a gentle introduction to cartography. You’ll leave with your own cartographic masterpieces and tips for learning more in your pursuit of mappiness at UVa. Instructors: Chris Gist, Drew Macqueen.</p>
</section>