<section class="slide graduate-fellowships" id="graduate-fellowships">
    <h1>Graduate Fellowships</h1>
    <p>The Scholars' Lab supports the work of emerging scholars and digital humanities practitioners–particularly UVa graduate students. In addition to our general consultations (grad students are invited to write us for an appointment any time!), we offer two graduate fellowship programs that provide students with the time, space, and mentorship necessary to discover, explore, and build.</p>
</section>
