<section class="slide project" id="jefferson-notes">
  <h1>Jefferson's Notes on the State of Virginia</h1>
  <p>Notes on the State of Virginia was created by Brad Pasanek and John O’Brien of the UVa English Department. The Notes project enables critical comparison and analysis of two versions of Thomas Jefferson’s Notes on the State of Virginia.</p>

  <p> The project includes page images and transcriptions of both Jefferson’s privately printed 1784 edition and the 1787 edition printed by London publisher John Stockdale.</p>
</section>
