<section class="slide makerspace" id="makerspace-workshop7">
  <h1>Makerspace Workshop: Intro to 3D Modeling & Printing</h1>
  <p>Thursday, March 5</br>2:00 - 3:30pm</br>Alderman Library, Room 421</p>
  <p>This workshop will introduce participants to the exciting world of desktop fabrication. We’ll provide a brief overview of current trends and tools for 3D modeling and printing. We’ll also go over the basics of model creation with photogrammetry, and discuss how 3D printing works, including a live demonstration with one of our Makerbots. While not necessary, participants can bring a camera (cell phone cameras welcome!) and a laptop to get better acquainted with the software we’ll introduce. Instructor: Shane Lin</p>
</section>
