<section class="slide makerspace" id="makerspace-workshop7">
  <h1>Makerspace Workshop: Intro to 3D Printing</h1>
  <p>Wednesday, October 7</br>1:00 - 2:30pm</br>Alderman Library, Room 421</p>
  <p>This workshop will introduce participants to the exciting world of desktop fabrication. We’ll provide a brief overview of current trends and tools for 3D modeling and printing, followed by a hands-on demonstration of basic printer operation. We will also discuss various types of 3D models and the best practices and equipment for bringing them to life. While not necessary, participants can bring a laptop to get better acquainted with the software we’ll introduce. Instructor: Julia Schrank</p>
</section>
