<section class="slide makerspace" id="makerspace-workshop8">
  <h1>Makerspace Workshop: Intro to Wearables and Soft Circuits</h1>
  <p>Wednesday, March 18</br>10:00 - 11:30am</br>Alderman Library, Room 421</p>
  <p>This beginner workshop will introduce the basics of circuity and give an overview of current trends in wearable computing. Participants will make their own circuit using LED’s and conductive thread. Materials will be provided and no experience with sewing or electronics is necessary. Instructor: Jeremy Boggs</p>
</section>
