<section class="slide makerspace" id="makerspace-workshop2">
  <h1>Makerspace Workshop: Working with Arduinos I</h1>
  <p>Thursday, February 5</br>2:00 - 3:30pm</br>Alderman Library, Room 421</p>
  <p>Arduino is a tool for making microcomputers that can sense and control the physical world. This workshop will introduce participants to the basics of circuitry and programming through a series of hands-on exercises using our Arduino kits. No electronics experience required! Laptops will also be available for participants, but bring your own if you want to save and edit your projects after the workshop. Instructor: Jeremy Boggs.</p>
</section>