<section class="slide makerspace" id="neatline-workshop">
  <h1>Workshop: Introduction to Neatline</h1>
  <p>Wednesday, February 11</br>10:00 - 11:30am</br>Alderman Library, Room 421</p>
  <p>Using Neatline, anyone can create beautiful, interactive maps, timelines, and narrative sequences from collections of archives and artifacts, telling scholarly stories in a whole new way. Join us for this hands-on introduction to Neatline. See http://neatline.org/ for more information. Instructor: Ronda Grizzle</p>
</section>
