<section class="slide makerspace" id="omeka-workshop">
  <h1>Makerspace Workshop: Introduction to Omeka</h1>
  <p>Wednesday, January 28</br>10:00 - 11:30am</br>Alderman Library, Room 421</p>
  <p>Omeka was created to enable scholars, archives, libraries, museums, and independent researchers to build online exhibits of their work without having to know HTML or CSS. If you have a collections of digital resources that you want to show in a scholarly way, Omeka could be a great tool to have in your toolkit. Instructor: Ronda Grizzle</p>
</section>