<section class="slide project" id="praxis-kard">
  <h1>Praxis 2017-2018: "Augmenting the University"</h1>
  <p>The 2017-2018 Praxis cohort is working on transforming the University of Virginia Grounds into a dynamic and virtually interactive space through the use of mobile augmented reality (AR) applications so as to retell stories that have been forgotten and make innovative connections between people and the spaces they inhabit. We hope to use AR technology to encourage critical engagement with familiar spaces and objects in order to reflect anew on the structure, culture, mission and history of the university.</p>
</section>
