<section class="slide project" id="praxis-kard">
  <h1>Praxis 2019-2020</h1>
  <p>Building on the work of the Charlottesville Regional Equity Atlas, our project investigates the University of Virginia’s and UVA Foundation’s land development and expansion throughout Charlottesville and Albemarle County since the 1980s. In light of UVA’s 2030 plan to be “Great and Good,” we will examine how these developments have affected local communities, and place these impacts in dialogue with UVA’s public narratives.</p>
</section>
