<section class="slide graduate-fellowships" id="praxisfellows-apply">
    <h1>Apply for the 2018-2019 Praxis Program Fellowship</h1>
    <p>Who: PhD Students</p>
    <p>Due: Applications are due no later than February 15, 2018</p>
    <p>The Praxis Program is a radical re-imagining of the annual teaching and training we offer in the Scholars’ Lab. Its fellowships support a team of six University of Virginia PhD students from a variety of disciplines, who work collaboratively on a shared digital humanities project. Under the guidance of Scholars’ Lab faculty and staff, Praxis fellows conceive, develop, publish, and promote a digital project over the course of an academic year. Interested? Please visit https://tinyurl.com/SLabPraxis18-19 for more details.</p>
</section>
