<section class="slide graduate-fellowships" id="praxisfellows-apply">
    <h1>Apply for the 2023-2024 Praxis Program Fellowship</h1>
    <p>Who: PhD Students</p>
    <p>Due: Applications are due no later than March 1, 2023</p>
    <p>The Praxis Program is a radical re-imagining of the annual teaching and training we offer in the Scholars’ Lab. Its fellowships support a team of University of Virginia PhD students from a variety of disciplines, who work collaboratively on a series of digital projects and activities throughout the year. Under the guidance of Scholars’ Lab faculty and staff, Praxis fellows learn how to carry out digital humanities teaching and research as they find own place in the field's various communities. Interested? Please visit https://scholarslab.lib.virginia.edu/for-students/ for more details.</p>
</section>
