<section class="slide project" id="praxis-poster-2">
  <h1>Praxis DesignLab</h1>
  <p>DesignLab is a 10-week primer on critical approaches to design for Digital Humanities work, that includes conceptual and application work in the following areas:</p>
  <ul>
    <li>HTML, CSS, JavaScript;</li>
    <li>Information architecture/organization</li>
    <li>Graphic/Visual design elements and concepts</li>
    <li>Accessibility + Usability</li>
    <li>Scoping/Strategizing approaches for design projects;</li>
  </ul>
  <p>By the end of this component of Praxis, students should have a better understanding of how to approach design for advocacy and intervention work in Digital Humanities.</p>
</section>
