<section class="slide project" id="praxis-kard">
  <h1>Praxis 2018-2019</h1>
  <p>In observation of the expansion of the public domain in 2019, the 2018-2019 project examines how U.S. copyright law interacts with digital research and pedagogy. Working with Robert Frost’s New Hampshire (1923), we will present a series of tutorials that demonstrate how to use a public domain work in order to empower our audience to understand, transform, and intervene in the range of material now available online.</p>
</section>
