<section class="slide senefeld" id="senefeld-fellow">
  <h1>Emily Senefeld, Graduate Fellow in Digital Humanities</h1>
  <p>My research focuses on how the Highlander Folk School's staff used folk music and dancing, labor plays, and documentary films in labor and civil rights organizing from the 1930s to 1960s. I am using Omeka to build Neatline exhibits digitally mapping these cultural programs in order to shed new light on the network of radical activists operating in the South in the mid-twentieth century.</p>
</section>
