<section class="slide" id="DH-partners-IATH">
    <h1>Scholars' Lab research co-conspirators: IATH</h1>
    <p>Since 1992, the Institute for Advanced Technology in the Humanities has collaborated with humanities researchers on a remarkable range of transformative, original research projects during selective fellowships. Faculty Resident and Associate Fellowship programs support UVA faculty doing humanities research, especially larger projects needing applications development and grant planning.</p>
    <ul class="gallery">
<li>
    <div class="image">
        <img src="https://www.iath.virginia.edu/images/staff/2015-Shayne_Brandon.jpg" alt="photo of Shayne Brandon, system administrator of IATH">
    </div>
    <div class="name">Shayne Brandon</div>
    <div class="position">System Administrator</div>
</li>
<li>
    <div class="image">
        <img src="https://www.iath.virginia.edu/images/staff/2015-Cindy_Girard.jpg" alt="">
    </div>
    <div class="name">Cindy Girard</div>
    <div class="position">Information Technology Specialist, XML and Related Technologies</div>
</li>
<li>
    <div class="image">
        <img src="https://www.iath.virginia.edu/images/staff/2015-Lauren_Massari.jpg" alt="">
    </div>
    <div class="name">Lauren Massari</div>
    <div class="position">Multimedia Designer</div>
</li>
<li>
    <div class="image">
        <img src="https://www.iath.virginia.edu/images/staff/2015-Doug_Ross.jpg" alt="">
    </div>
    <div class="name">Doug Ross</div>
    <div class="position">Information Technology Specialist, Database and Markup Technologies</div>
</li><li>
    <div class="image">
        <img src="https://www.iath.virginia.edu/images/staff/2015-Sarah_Wells.jpg" alt="">
    </div>
    <div class="name">Sarah Wells</div>
    <div class="position">Director, IATH</div>
</li></ul>
</section>