<section class="slide small" id="dunkelbarger">
    <!-- image at images/dunkelbarger.png -->
    <h1>Virtual Garden Dining in Pompeii
    </h1>
    <p>  Janet Dunkelbarger's project explored the physical, visual, and phenomenological aspects of dining outdoors in the gardens of Pompeii in the 1st century AD. Using virtual reality to rebuild several of Pompeii’s Garden Dining Spaces, the 3D reconstructions created an integrated and immersive experience for exploring the spaces and better understand their use and significance to the people of the ancient city.
  </p>
  </section>
