<section class="slide lee small" id="lee">
  <!-- image at images/lee.png, though we don't have one yet -->
  <h1>Digital edition of La Vie de sainte Marie l'Égyptienne</h1>
  <p>The core of Loren Lee's dissertation work is a digital edition and translation of Version T of La Vie de sainte Marie l'Égyptienne, a twelfth-century Anglo-Norman verse redaction of this Desert Mother's Life. Version T survives in eight manuscript copies, and her digital edition seeks to help readers visualize the meaningful variations among these copies.</p>
</section>
