<section class="slide small" id="morgenstern">
  <!-- image at images/morgenstern.png -->
  <h1>Stylistic Variation In Online Political Discourse
  </h1>
  <p>Michelle Morgenstern's (Anthropology) dissertation explored the ethical lives of young people who credit the social media platform, Tumblr, with shaping their beliefs about what it means to be and do good in the world. It integrated ethnography with large-scale text analytics to investigate how these young people come to take up and enact new political and moral commitments through creative linguistic practices.
</p>
</section>
