:root {
--franklin-gothic: franklin-gothic-urw, Arial, sans-serif;
--adobe-caslon-pro: adobe-caslon-pro, Garamond, serif;

/* Brand Color Palate*/
--uvalib-main-rotunda-orange: #E57200;
--uvalib-main-jefferson-blue: #232D4B;
--uvalib-main-white: #FFFFFF;
--uvalib-main-black: #000000;

/*Secondary Brand Colors*/
--uvalib-secondary-web-orange: #EB5F0C;
--uvalib-secondary-web-blue: #141E3C;
--uvalib-secondary-light-gray: #F1F1F1;
--uvalib-secondary-medium-gray: #DADADA;
--uvalib-text-grey: #595959; /*ADA compliant*/
--uvalib-text-dk-grey: #474747; /*ADA compliant for hover over shaded table rows*/
--uvalib-text-almost-black: #212121; /*ADA compliant*/
--uvalib-secondary-emergency-red: #E00000; /*ADA compliant*/
--uvalib-secondary-cyan: #009FDF;
--uvalib-secondary-yellow: #FDDA24;
--uvalib-secondary-teal: #25CAD3;
--uvalib-secondary-magenta: #EF3F6B;
--uvalib-secondary-green: #008000; /*ADA compliant*/
}

* {
    box-sizing: border-box;
}

body {
    color: white;
    color: rgba(255,255,255,0.925);
    background-color: var(--uvalib-main-jefferson-blue);
    font-family: var(--franklin-gothic);
    font-weight: 300;
}
a,:link {
  color: white;
  color: rgba(255,255,255,0.925);
}

#banner {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 500000;
  padding: 2rem;
  height: 10vh;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

#banner span {
  display:flex;
  width: 200px;
  flex-direction:column;
  flex-wrap: nowrap;
  font-family: var(--adobe-caslon-pro);
  line-height:0;
  align-content:center;
  margin:0;
  font-size: 1.75rem;
}

#banner img {
  max-width: 100%;
  max-height:100%;
  width: auto;
}

.slide {
    height: 90vh;
    width: 100vw;
    padding: 5rem;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:flex-start;
    background-image: linear-gradient(rgba(35,45,75,0.875),rgba(35,45,75,0.875)),
      url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.slide h1 {
  font-size: clamp(4rem, 6vw + 1.5rem, 6rem);
  margin:0;
  font-weight: 700;
}

.slide p,
.slide ul,
.slide ol {
  font-size: clamp(1rem, 1vw + 1.5rem, 3rem);

}

/* Specific Slide Styles */
section#praxis-poster-3 {
  background-image: linear-gradient(rgba(35,45,75,0.875),rgba(35,45,75,0.875)),
  url('../images/buysse.png');
}

section#expertise {
  background-image: linear-gradient(rgba(35,45,75,0.875),rgba(35,45,75,0.875)),
  url('../images/map-charlottesville.jpg');
}

/* Deck.js Styles */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .deck-container {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
  }
  .js .deck-container {
    visibility: hidden;
  }
  .ready .deck-container {
    visibility: visible;
  }
  .touch .deck-container {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
  }

  .deck-loading {
    display: none;
  }

  .slide {
    width: auto;
    position: relative;
  }

  .deck-before, .deck-previous, .deck-next, .deck-after {
    position: absolute;
    left: -999em;
    top: -999em;
  }

  .deck-current {
    z-index: 2;
  }

  .slide .slide {
    visibility: hidden;
    position: static;
    min-height: 0;
  }

  .deck-child-current {
    position: static;
    z-index: 2;
  }
  .deck-child-current .slide {
    visibility: hidden;
  }
  .deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current {
    visibility: visible;
  }