<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
<meta name="robots" content="index,follow">

<!-- Style Sheets -->
<link href="https://use.typekit.net/tca4szh.css" rel="stylesheet">
<link href="{{site.url}}/stylesheets/style.css" rel="stylesheet">
{% if page.css %}
<link href="{{site.url}}/stylesheets/{{ page.custom }}" rel="stylesheet">
{% endif %}

</head>

<body class="{{ page.bodyclass }}">
<header id="banner" role="banner">
  <span>Scholars’ Lab</span>
  <span><img src="https://scholarslab.lib.virginia.edu/assets/img/UVALIB_primary_white_web.png" alt=""></span>
</header>
{{ content }}

<!-- Required JS files. -->
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.url }}/javascripts/deck/deck.core.js"></script>
<script src="{{ site.url }}/javascripts/deck/extensions/scale/deck.scale.js"></script>
{% if page.auto %}
<script src="{{ site.url }}/javascripts/deck/extensions/automatic/deck.automatic.js"></script>
{% endif %}

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
$(function() {

{% if page.auto %}
$.extend(true, $.deck.defaults, {
  automatic: {
    startRunning: true,    // true or false
    cycle: true,           // true or false
    slideDuration: 20000 // duration in milliseconds
  }
});

{% endif %}

$.deck('.slide');

$(document).bind('deck.change', function(event, from, to) {
   var currentSlide = $.deck('getSlide', to);
   var slideId = currentSlide.attr('id');
    $('body').attr('class', slideId);
});
});
</script>
</body>
</html>
