<section class="slide gis" id="gis-oldschoolmapping">
  <h1>GIS Workshop: Learning Old-School Mapping Techniques</h1>
  <p>Wednesday, March 4</br>1:00 - 2:00pm</br>Alderman Library, Room 421</p>
  <p>How did folks make maps before GPS and satellite imagery?  In this workshop we’ll focus on plane table mapping.  Using just a flat surface, a sheet of paper, a straight edge, and a pencil we’ll learn techniques to create accurate maps for large geographic areas.   With plane table mapping, if you can see it, you can map it.  This technique can be particularly helpful to researchers such a biologists working in small areas under heavy tree canopy where GPS fails. Instructor: Chris Gist</p>
</section>
