<section class="slide makerspace" id="makerspace-workshop5">
  <h1>Makerspace Workshop: Intro to Wearables and Soft Circuits</h1>
  <p>Wednesday, November 11</br>1:00 - 2:30pm</br>Alderman Library, Room 421</p>
  <p>Have you ever been frustrated by the limits of your clothing and accessories? Do you wish that your t-shirts’ slogans could light up or that your cycling jacket had turn signals on the back? This beginner workshop will introduce the basics of sewing soft circuits and explore current trends in wearable computing.  To hit the ground running, you will leave the workshop with your own pair of texting gloves, either made by hacking a favorite pair or using the samples we provide. All materials will be provided (unless you want to use your own gloves) and no previous experience with sewing or electronics is necessary. Instructor: Julia Schrank</p>
</section>
