<section class="slide makerspace" id="makerspace-workshop12">
  <h1>Makerspace Workshop: Advanced Wearables and Soft Circuits</h1>
  <p>Wednesday, November 18</br>1:00 - 2:30pm</br>Alderman Library, Room 421</p>
  <p>This workshop caters to those who have either started hacking wearables on their own or who had fun with our Introduction to Wearables & Soft Circuits. Come with your own wearable project or be ready plan a new one in good company! The Makerspace’s extensive Arduino component library will be available for prototyping and Makerspace staff will help you take your project to the next level. Instructor: Julia Schrank</p>
</section>
